:root{
    --text-primary: rgba(51, 51, 51, 1);
    --text-secondary: rgba(163, 30, 30, 1);
    --text-alert: rgba(226, 206, 19, 1);
    --text-info: rgba(19, 167, 226, 1);
    --text-black: rgb(15, 15, 15);
    --text-white: rgb(240, 240, 240);
    --text-success: rgb(57, 163, 30);
    
    --bg-primary: rgba(163, 30, 30, 1);
    --bg-primary-hover: rgba(163, 30, 30, .9);

    --bg-active: rgba(109, 35, 35, 0.7);
    --bg-alert: rgba(226, 206, 19, 1);
    --bg-white: rgb(255, 255, 255);
    --bg-dark: rgba(51, 51, 51, 1);
    --bg-light: rgb(184, 184, 184);


    --font-primary: font-family: 'Montserrat', sans-serif;
  
  
    /* CONTAINER HEIGHT ADJUSTMENTS */
    --banner-height: 250px;
    --nav-height: 80px;
    --wrapper-height: 2500px;
    --footer-height: 50px;
}
.bg-main {
    background-color: rgba(163, 30, 30, 1);
}
/* FONTS  */
.text-roboto {
    font-family: "Roboto", Sans-serif;
}

.text-elite {
    font-family: 'Special Elite', cursive;
}

/* BUTTONS  */
.btn-outline-red {
    display: inline block;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 1.5px;
    padding: 10px 18px;
    border-radius: 3px;
    transition: 0.2s;
    border: 2px solid var(--bg-primary);
    color: white;
    text-decoration: none;
}
.btn-outline-red:hover {
    background-color: rgba(163, 30, 30, .8);
    border: 2px solid rgba(163, 30, 30, 1);
    color: white;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-primary);
    font-size: 16px;
    color: var(--text-black);

}

/* 4 CONTAINERS .BANNER .NAV-BAR .WRAPPER */
.banner {
    max-height: var(--banner-height);
    width: 100%;
    margin: 0px;
    padding: 0px;
} 
.nav-bar {
    width: 100%;
    background-color: var(--bg-primary);
    margin: 0px;
    padding: 0px;
} 
.container-fluid {
    margin:0px;
    padding:0px;
}
.wrapper {
    height: var(--wrapper-height);
    background-color:var(--bg-light);
    margin: 0px;
    padding: 0px;
}   
.navbar {
    margin: 0px;
    padding: 0px;
    z-index: 1000;
}
/* NAV-BAR FIXED AT BANNER HEIGHT WITH JS */
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 11;

}
.footer {
     position: fixed;
     bottom: 0px;
     height: var(--footer-height);
     width: 100%;
     overflow: hidden;
     z-index: 1000;
     /* background-color: #333; */
}

/* === BANNER STYLE =========  */

.banner-bar {
    background-color: #333;
    box-shadow: 1px 2px 2px 0px gray;
    margin-bottom: 3px;
    height: 48px;
    width: 100vw;
    transition: linear height 300ms;
}

/* remove second image mobile  */
@media (max-width: 760px) {
    #bannerImg2 {
        display: none;
    }
    .banner-bar{
        height: 38px;
        width: 100vw;
    }
}



/* === BANNER END/  =========  */

/* ======== NAVBAR ============  */

/* responsive menu  */
.navbar-nav {
    background-color: white;
    margin: 0px;
    box-shadow: 1px 3px 5px 3px rgba(75, 12, 12, 0.7);


}
.nav-bar .active {
    box-sizing: border-box;
    background-color: rgba(163, 30, 30, 1);
    box-shadow: 1px 1px 1px 1px rgba(75, 12, 12, 0.7);
    padding-left: 0px;
    margin: 0px;
    color: white;
}
.navbar-nav .nav-item .nav-link {
    color:rgb(5, 5, 5);
    padding: 8px 6px;
    padding-left: 25px;
    margin: 0px;
}
.nav-bar .navbar-collapse .navbar-nav {
    box-sizing: border-box;
}
.nav-bar .navbar-collapse ul .active > .nav-link {
    color: white;
} 
.navbar-nav .nav-item .nav-link:hover {
    background-color: var(--bg-primary);
    color: white;
    width: 100%;
    padding: 8px 6px;
    padding-left: 25px;
    margin: 0px;
}
.navbar-nav .nav-item .active {
    color: white;
    margin: 0px;
}
.dropdown {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin: 0px;

}
.navbar-nav .nav-item .dropdown-item {
    padding: 8px 6px;
    padding-left: 25px;
    margin: 0px;
}
.dopdown-menu a:hover {
    background-color: rgb(129, 26, 26);
    padding-left: 25px;
    margin: 0px;
}
.dropdown-item {
    padding: 8px 6px;
    margin: 0px;
}
.dropdown-item:hover {
    background-color: var(--bg-primary);
    color: white;
    width: 100%;
    padding: 8px 6px;
    margin: 0px;
}
/* full menu  */
@media (min-width: 960px) {
    .navbar-nav {
        background-color: var(--bg-primary);
        margin: 8px;
        box-shadow: 0 0 0 0;  
    }
    .nav-bar .active {
        background-color: rgba(163, 30, 30, 1);
        box-shadow: 0 0 0 0;
        padding-left: 0px;
        margin: 0px;
    }
    div .dropdown-menu {
        border: 4px;
        border-radius: 2px;
        box-shadow: 1px 1px 1px 0px rgba(97, 97, 97, .4);
    }
    .nav-bar .navbar-brand{
        box-sizing: border-box;
    }
    .navbar-nav .nav-item .nav-link {
        color:rgb(15, 15, 15);
        letter-spacing: 1px;
        font-weight: bold;
        padding: 1px 16px;
        padding-left: 25px;
        transition: .5s;
    }
    .navbar-nav .nav-item .nav-link:hover {
        background-color: var(--bg-primary);
        color: white;
        width: 100%;
        padding: 1px 16px;
        padding-left: 25px;
    }
    .navbar-nav .nav-item .active {
        color: white;
    } 
    .navbar-nav .nav-item a {
        padding: 8px 16px;
        padding-left: 25px;
        background-color: var(--bg-primary);
    } 
    .navbar-nav .nav-item .dopdown-menu {
        padding: 12px 16px;
        padding-left: 25px; 
    }
    .navbar-nav .nav-item .dopdown-menu a:hover {
        background-color: rgb(255, 255, 255);
        padding: 12px 6px;
        padding-left: 25px;    
        background-color: white;
    }
    .navbar-nav .nav-item .dropdown-menu .dropdown-item {
        padding: 12px 6px;
        padding-left: 25px;
        background-color: white;
    }
    .navbar-nav .nav-item .dropdown-item:hover {
        background-color: var(--bg-primary);
        color: white;
        width: 100%;
        padding: 12px 6px;
        padding-left: 25px;
    } 
}
/* === NAVBAR STYLE END/ ======  */

/* ===== MASTHEAD ===============*/
.masthead {
    box-sizing: border-box;
    width: 100vw;
    height: 65vh;
    background: linear-gradient(to bottom, rgba(187, 185, 185, 0.4) 0%, rgba(139, 142, 38, 0.5) 100%), url("../assets/gallery/bg-masthead.jpg") top center;
    background-size: cover;
    position: relative;
}
.masthead::before {
    content: "";
    background: rgba(35, 35, 35, .8);
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
}
.masthead .masthead-container {
    position: absolute;
    z-index: 4;
    box-sizing: border-box;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 15px;
}

.masthead .masthead-container h1 {
    margin: 0px 0px 10px 0px;
    font-size: 38px;
    font-weight: bold;
    line-height: 36px;
    letter-spacing: 1.1px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "Roboto", Sans-serif;
}
.masthead .masthead-container h2 {
    margin: 0px 0px 22px 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 1.2px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "Roboto", Sans-serif;
}
.masthead .masthead-container h3 {
    margin: 0px 0px 22px 0px;
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 1.3px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "Roboto", Sans-serif;
}
.masthead .masthead-container .block-text {
    width: 100vw;
    height: 80px;
    background-color: var(--bg-primary);
    position: absolute;
    top: 60vh;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: baseline;
}
.masthead .masthead-container .block-text p {
    color: rgb(255, 255, 255);
    font-size: 32px;
    text-transform: uppercase;
}
@media (min-width: 580px) {
    .masthead .masthead-container h1 {
        margin: 0px 0px 10px 0px;
        font-size: 52px;
        font-weight: bold;
        line-height: 52px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    }
    .masthead .masthead-container h2 {
        font-size: 22px;
        font-weight: 500;
        line-height: 40px;
        text-transform: uppercase;
    }
    .masthead .masthead-container h3 {
        margin: 0px 0px 22px 0px;
        font-size: 30px;
        font-weight: 500;
        line-height: 38px;
        text-transform: uppercase;
    }
    .masthead .masthead-container .block-text p {
        font-size: 48px;
    }
}

@media (min-width: 960px) {
    .masthead .masthead-container h1 {
        margin: 0px 0px 20px 0px;
        font-size: 60px;
        font-weight: bold;
        line-height: 50px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    }
    .masthead .masthead-container h2 {
        margin: 0px 0px 22px 0px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 30px;
        font-weight: 500;
        line-height: 42px;
        letter-spacing: 1.1px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    } 
    .masthead .masthead-container h3 {
        margin: 0px 0px 22px 0px;
        font-size: 36px;
        font-weight: 500;
        line-height: 40px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    }
    .masthead .masthead-container .block-text p {
        font-size: 56px;
    }
}



/* ===== MASTHEAD END/============*/

/* == MENU ICON ==*/
    /* (container) .menu-icon  <-- bar(x) */

    .menu-icon {
        display: inline-block;
        box-sizing: border-box;
        cursor: pointer;
        background-color: var(--bg-nav);
    
    }
    .menu-icon:hover {
        background-color: var(--bg-primary);
    }
      
    .bar1,
    .bar2,
    .bar3 {
        width: 25px;
        height: 5px;
        background-color: rgba(219, 219, 219, 1);
        border-radius: 15px;
        margin: 6px 0;
        transition: ease 0.4s;
    }
      
    .change .bar1 { 
        transform: translate(0, 11px) rotate(-45deg);
        background-color: rgba(255, 255, 255, 0.8);
    }
      
    .change .bar2 {opacity: 0;}
      
    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
        background-color: rgba(255, 255, 255, 0.8);
    }
/* == MENU ICON END/== */ 
    
    